accelerate
einops
ema-pytorch
numpy
pillow
pytorch-fid
torch
torchdiffeq
gym
tqdm
mujoco
mujoco-py==2.1.2.14
sortedcontainers
pyrallis
gin-config
h5py
dm-env
dm-tree
dmcgym @ git+https://github.com/conglu1997/dmcgym.git@812905790dd87a448c9544a0beccb8b05ea2a850
-e git+https://github.com/watchernyu/REDQ.git@3a2763889223677d74c734864244c41494e4832c#egg=redq
metaworld
matplotlib
ipdb
